::selection { background: #da1917; }

body{
    background-image: linear-gradient(to right,	#0F2027,#203A43,#2C5364);
    color: #f09549;
   width: 100vw;
}
    

.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.section-heading {
    padding: 2% 0 0 2%;
    font-size: x-large;
    font-style: oblique;
    text-shadow: 4px 3px cornflowerblue;
    /* text-decoration: underline; */
    color: white;
    text-align: center;
}

.border-orange{
    border: 2px solid #ff7452;
}

.zoom-image{
    overflow: hidden;
}

.section-shadow:hover{
    border: 2px solid #89271a;
    box-shadow: 1px 10px 12px 7px #89271a;
}

.zoom {
    padding: 10px;
    transition: transform .2s;
    /* Animation */
    /* width: 200px;
    height: 200px; */
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.5);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#home{
    box-shadow: 1px 10px 12px 7px #000;
    margin-top: 7%;
}

#about,#indian{
    background-color: #041b39;
    background-image: linear-gradient(to right, #041b39,#22135d);
}

#info{
    width:40%;
}

#info p{
    text-align: center;
}

.rectangle-border{
    border: 3px solid #ffe960;
}

.rectangle-border:hover{
    
    box-shadow: 1px 1px 6px 5px #ffe960;
}

#info-img{
    height: 27em;
    width: 50%;
    border-radius: 25px;
    background-image: url('./Hamara\ Utpaad.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid yellow;
    
}

.divider{
    width:3em;
    height:0.2em;
    background-color: white; 
    justify-content: center;
    margin: auto;
}

/* Indian Campaigns */

/* Footer */

footer{
    background-color: black;
    color: white;
    font-family: monospace;
}